.mud-card {
    transition: box-shadow 0.2s ease-in-out !important;
}

    .mud-card:hover {
        box-shadow: var(--mud-elevation-3) !important;
    }

.mud-dialog {
    border-radius: 28px !important;
    padding: 8px;
}

.mud-button-filled,
.mud-button-outlined,
.mud-button-text {
    border-radius: 9999px !important;
}

.mud-nav-link {
    border-radius: 9999px !important;
    margin-inline: 10px;
    margin-bottom: 5px;
}

.mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) {
    background-color: var(--mud-palette-secondary) !important;
    color: var(--mud-palette-secondary-text) !important;
}

    .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) svg {
        color: var(--mud-palette-secondary-text) !important;
    }
